body {
    background-color: black !important;
    color: white !important;
    font-family: 'Source Code Pro', monospace !important;
    font-size: 25px !important;
    line-height: 1.75 !important;
    overflow-x: hidden;
    margin-left: -20px;
}

.container {
    padding-inline: 16px;
}



.navbarr li a {
    color: inherit;
    text-decoration: none;
}

img {
    /* height: auto; */
    margin-left: 30px;
}


.header {
    /* margin-left: 40px; */
    margin-top: -20px;
    

}



.navbarr ul {
    /* color: rgb(150, 48, 11); */
    color: gray;
    margin-left: 250px;
    margin-top: -170px;
    /* max-width: 1000px; */
    height: -200px;
    padding: 25px 20px;
    /* visibility: hidden; */
    transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navbarr ul li {
    list-style-type: none;
    align-items: center;
    padding-inline-start: 20px;

}

.navbarr-top {

    padding-block-end: 20px;
    border-block-end: 1px solid hsla(0, 0%, 6%, 1);
    margin-block-end: 10px;
}



.cursor-dot,
.cursor-outline {
    display: block;
    position: fixed;
    top: -60px;
    left: -60px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}



.cursor-dot {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%) scale(0.1);
}

.cursor-dot.hovered {
    transform: translate(-50%, -50%) scale(1);
    mix-blend-mode: exclusion;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    opacity: 0.5;
    transition-duration: 100ms;
}

.cursor-outline.hovered {
    opacity: 0;
}

.logo {
    width: 284px;
    height: 226px;
}



.navbtnn {
    height: 50px;
    width: 200px;
    background-color: black;
    color: gray;
    border: none;
    font-size: 20px;
    margin-right: 50px;
    border: 1px solid transparent;
    transition: border-color 0.7s ease;
    transition: box-shadow 0.7s ease;
}


.navbtnn:hover {
    cursor: pointer;
    border-color: white;
    color: white;
    box-shadow: inset 0px 0px 0 1px #ffffff;

}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.intro {
    font-size: 35px;
    padding: 30px;
}

.ahmad {
    margin-left: 130px;
    margin-top: 70px;
    width: 450px;
    height: 500px;
    position: relative;
    top: -128px;

}

.row {
    margin-right: 0px !important;
}


.icon {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.5s ease;
    /* Apply transition effect */
}

.icon:hover {
    transform: scale(1.7);
    /* Increase size and rotate left on hover */
    animation: shake 0.5s ease;
    /* Apply shake animation */
}

@keyframes shake {
    0% {
        transform: scale(1.7) rotate(0);
    }

    /* Initial state: normal size and no rotation */
    25% {
        transform: scale(1.7) rotate(-14deg);
    }

    /* 25%: No scaling but rotating */
    50% {
        transform: scale(1.7) rotate(14deg);
    }

    /* 50%: No scaling but rotating */
    75% {
        transform: scale(1.7) rotate(-14deg);
    }

    /* 75%: No scaling but rotating */
    100% {
        transform: scale(1.7) rotate(0);
    }

    /* 100%: Back to normal size and no rotation */
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* EDUCATION */
#fastlogo {
    width: 80%;
    margin-left: 50px;
}

.accd {
    background-color: black !important;
    color: white !important;
}

.accordion-item.accd .card {
    background-color: black;
    color: white;
}

.accordion-button {
    background-color: black !important;
}

.fastbtn {
    padding-top: 10px;
    margin-left: 50px !important;
    color: yellow;
    border: 1px solid gray;
    border-color: gray !important;
    font-size: 25px !important;
}

.fst {
    margin-left: 50px;
}

.bss {
    margin-left: 49px;
}

.animated-text {
    position: absolute;
    color: gray;
    /* Initial color */
    font-size: 400px;
    /* Initial font size */
    /* left: -200px; */
    /* top: 50%; */
    animation: slideIn 2s forwards, changeColor 3s forwards, changeFontSize 2s forwards;
    /* Applying all animations */
}

/* Keyframes for the slide-in animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(240%);
    }
}

/* Keyframes for the color change animation */
@keyframes changeColor {
    from {
        color: black
            /* Start color */
    }

    to {
        color: white;
        /* End color */
    }
}

/* Keyframes for the font size change animation */
@keyframes changeFontSize {
    from {
        font-size: 100px;
        /* Start font size */
    }

    to {
        font-size: 40px;
        /* End font size */
    }
}

#exp {
    margin-left: -413px;

}

.card-body {
    background-color: black;
}

.card-text {
    color: white;
}



.card {
    transition: box-shadow 0.5s ease; 
    /* box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);  */
}

.card:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5); 
}


#intxt {
    margin-left: -150px;
}


.noline a {
    text-decoration: none;
    color: inherit;
    transition: color 0.7s ease, text-shadow 0.1s ease; /* Add transition effect */
}

.noline a:hover {
    color: lightgray;
    text-shadow: 0 0 5px rgba(255,255,255,0.9); /* Add text glow */
}
